
.deco--ligne,
.deco--ligne2,
.deco--dot,
.deco--work--dot,
.deco--work--right,
.deco--contact--right,
.deco--contact--left,
.deco--work--left,
.deco--print--1,
.deco--print--2,
.deco--print--3,
.deco--print--4,
.deco--print--5,
.deco--print--6,
.deco--left--home {
  content: "";
	background-color: #84102C;
}

.deco--contact--right,
.deco--contact--left,
.deco--contact--circle,
.deco--work--left,
.deco--work--dot,
.deco--work--right,
.deco--print--1,
.deco--print--2,
.deco--print--3,
.deco--print--4,
.deco--print--5,
.deco--print--6 {
		position: absolute;
}

.deco--work--dot,
.deco--dot {
		border-radius: 50%;
		height: 1.5vh;
}

.deco--ligne,
.deco--ligne2,
.deco--dot {
	  margin: auto;
}

.deco--dot {
	width:0.7vw;
}


.deco--ligne,
.deco--ligne2 {
  width: 0.1vw;
}

.deco--ligne {
	height: 35vh;
}

.deco--ligne2 {
	height: 25vh;
}

.deco--left--home {
  height: 0.1vh;
  width: 30vw;
  position: fixed;
  left: 5;
  top: 6;
}

.deco--work--dot {
	width:0.8vw;
	left: 47em;
	top: 31em;
}

.deco--work--left,
.deco--work--right {
	width: 24vw;
	height: 0.2vh;
	top: 31em;
}

.deco--work--left {
	left: 0em;
}

.deco--work--right {
	right: 0em;
}


.deco--contact--right,
.deco--contact--left {
	width: 34.5vw;
	height: 0.2vh;
	top: 26em;
}

.deco--contact--right {
	right: 0em;
}

.deco--contact--circle {
	width: 30vw;
	height: 60vh;
	border-radius: 50%;
	border: 3px solid #84102C;
	left: 35%;
}

.deco--print--1,
.deco--print--2,
.deco--print--3,
.deco--print--4,
.deco--print--5,
.deco--print--6 {
	width: 24vw;
	height: 0.2vh;
}

.deco--print--1,
.deco--print--2,
.deco--print--3 {
	left: 0;
}

.deco--print--4,
.deco--print--5,
.deco--print--6 {
	right: 0;
}

.deco--print--1,
.deco--print--4 {
	top: 20em;
}

.deco--print--2,
.deco--print--5{
	top: 36.5em;
}

.deco--print--3,
.deco--print--6{
	top: 53em;
}
